.priceContainer {
    background-color: #595959;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin: 10px 3px 0 3px;
    border-radius: 10px;
    font-size: 14px;
}
.priceTable {
    background-color: #CEC0B4;
    align-self: center;
    border: 3px white solid;
    margin: 5px;
    border-radius: 10px;
    width: 95%;
}
.priceTable ul {
    list-style-type: none;
    padding: 3px;
    width: 100%;
}
.priceTable li {
    margin: 5px;
    border-bottom: #595959 solid 1px;
}
.priceTable h1 {
    font-size: 22px;
    margin: 3px;
    text-align: center;
}
.priceAmount {
    float: right;
}

@media screen and (min-width: 800px) {
    .priceContainer {
        margin: 10px 10% 0 10%;
        font-size: 17px;
    }
}

@media screen and (min-width: 1150px) {
    .priceContainer {
        margin: 10px 20% 0 20%;
    }
}

@media screen and (min-width: 1600px) {
    .priceContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        padding: 5px;
    }
    .priceTable {
        justify-self: center;
        width:100%;
        margin:0;
    }
    .t3 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .t5 {
        grid-column: 1 / 3;
        width: 50%;
    }
}
    


